In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('buyrentke (1).csv')

In [4]:
df.head(10)

,Location,Bedrooms,Bathrooms,Amenities,Price
0,"Brookside drive, Westlands Area, Westlands",3.0,3.0,"['Alarm', 'BBQ', 'Backup Generator', 'Balcony'...","300,000\n / mont"
1,Muthaiga,4.0,NaN,[],Price not communicated
2,"lavington, Lavington",4.0,5.0,"['Aircon', 'Alarm', 'BBQ', 'Backup Generator',...","250,000\n / mont"
3,"westlands, Westlands Area, Westlands",2.0,3.0,"['Aircon', 'Alarm', 'Backup Generator', 'Balco...","205,000\n / mont"
4,"School Lane, Westlands Area, Westlands",2.0,2.0,"['Backup Generator', 'Swimming Pool']","160,000\n / mont"
5,"kilimani, Kilimani",2.0,3.0,"['Aircon', 'Alarm', 'BBQ', 'Backup Generator',...","200,000\n / mont"
6,"Parklands, Westlands",4.0,NaN,"['Backup Generator', 'Balcony', 'CCTV', 'Elect...","120,000\n / mont"
7,"Runda, Westlands",4.0,5.0,"['CCTV', 'Electric Fence', 'En Suite', 'Fibre ...","400,000\n / mont"
8,"Runda, Westlands",5.0,6.0,"['Backup Generator', 'Balcony', 'Electric Fenc...","520,000\n / mont"
9,Kileleshwa,2.0,NaN,"['Kids Play Area', 'Lift/Elevator', 'Parking',...","285,000\n / mont"

In [11]:
# Split the 'Amenities' column into separate columns
amenities_split = df['Amenities'].str.split(', ', expand=True)

In [12]:
# Rename the split columns for better readability
amenities_split.columns = [f'Amenity_{i+1}' for i in range(amenities_split.shape[1])]

In [13]:
# Concatenate the original DataFrame with the new amenities columns
df_split = pd.concat([df.drop(columns=['Amenities']), amenities_split], axis=1)

In [14]:
df_split.head(10)

,Location,Bedrooms,Bathrooms,Price,Amenity_1,Amenity_2,Amenity_3,Amenity_4,Amenity_5,Amenity_6,...,Amenity_15,Amenity_16,Amenity_17,Amenity_18,Amenity_19,Amenity_20,Amenity_21,Amenity_22,Amenity_23,Amenity_24
0,"Brookside drive, Westlands Area, Westlands",3.0,3.0,"300,000\n / mont",['Alarm','BBQ','Backup Generator','Balcony','CCTV','Electric Fence',...,'Service Charge Included','Swimming Pool','Walk In Closet','Wheelchair Access'],None,None,None,None,None,None
1,Muthaiga,4.0,NaN,Price not communicated,[],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"lavington, Lavington",4.0,5.0,"250,000\n / mont",['Aircon','Alarm','BBQ','Backup Generator','Balcony','CCTV',...,'Swimming Pool','Walk In Closet','Wheelchair Access'],None,None,None,None,None,None,None
3,"westlands, Westlands Area, Westlands",2.0,3.0,"205,000\n / mont",['Aircon','Alarm','Backup Generator','Balcony','Borehole','CCTV',...,'Pet Friendly','Service Charge Included','Staff Quarters','Swimming Pool','Wheelchair Access'],None,None,None,None,None
4,"School Lane, Westlands Area, Westlands",2.0,2.0,"160,000\n / mont",['Backup Generator','Swimming Pool'],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,"kilimani, Kilimani",2.0,3.0,"200,000\n / mont",['Aircon','Alarm','BBQ','Backup Generator','Balcony','Borehole',...,'Lift/Elevator','Parking','Pet Friendly','Serviced','Swimming Pool','Wheelchair Access'],None,None,None,None
6,"Parklands, Westlands",4.0,NaN,"120,000\n / mont",['Backup Generator','Balcony','CCTV','Electric Fence','Gated Community','Parking',...,None,None,None,None,None,None,None,None,None,None
7,"Runda, Westlands",4.0,5.0,"400,000\n / mont",['CCTV','Electric Fence','En Suite','Fibre Internet','Furnished','Garden',...,None,None,None,None,None,None,None,None,None,None
8,"Runda, Westlands",5.0,6.0,"520,000\n / mont",['Backup Generator','Balcony','Electric Fence','En Suite','Fibre Internet','Garden',...,None,None,None,None,None,None,None,None,None,None
9,Kileleshwa,2.0,NaN,"285,000\n / mont",['Kids Play Area','Lift/Elevator','Parking','Shopping Centre','Swimming Pool'],None,...,None,None,None,None,None,None,None,None,None,None